{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container mt-2">
    <h1 class="alert-danger text-center mb-2">Resume Uploader</h1>
    <div class="row">
        <div class="col-sm-6">
            <form action="" method="post" enctype="multipart/form-data" class="shadow p-5">
                {% csrf_token %}
                {% for fm in form %}
                <div class="form-group mb-3">
                    {{ fm.label_tag }} {{ fm }} <small class="text-danger">{{ fm.errors|striptags }}</small>
                </div>
                {% endfor %}
                <input type="submit" value="Submit" class="btn btn-outline-danger">
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3">{{ error }}</p>
                {% endfor %}
                {% endif %}
            </form>
        </div>
        <div class="col-sm-6 shadow">
            <h4 class="alert-success text-center mb-2">Candidates</h4>
            <div class="alert-primary col-sm-10 text-center mx-5">
                {% for candidate in candidates %}
                <hr>
                <a class="text-decoration-none" href="{% url 'candidate' candidate.id %}">{{ candidate.name }}</a>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>



{% endblock %}